html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Source Code Pro', ;
}

h1 {
  font-size: 60px;
  letter-spacing: .2em;
  font-weight: normal;
}

.web {
  float: left;
}

.blog {
  float: right;
}