html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Sorts Mill Goudy', serif;
  background-color: #f6f6f6;
}

h1 {
  font-size: 100px;
/*  letter-spacing: .1em;*/
  font-weight: 400;
  margin: 20px 0px;
}

.web {
  float: left;
}

.blog {
  float: right;
}

.links a {
  color: #000;
}

.links a:hover{
  color: #888;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clear-fix {
  clear: both;
}

.social-icons {
  margin: 15px 0px;
  text-align: center;
  font-size: 35px;
  color: #000;
}

.social-icons a {
  color: #000;
}

.social-icons a:hover{
  color: #888;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}