<h1>Summer Min</h1>

<div class = 'web'>
  <a href="http://people.flatironschool.com/profiles/summer-min"><h3>Web Developer</h3></a>
</div>

<div class = 'blog'>
  <a href="http://www.oandoeats.com"><h3>Food Blogger</h3></a>
</div>