<h1>Summer Min</h1>

<div class = 'links'>
  <div class = 'web'>
    <a href="http://people.flatironschool.com/profiles/summer-min"><h3>Web Developer</h3></a>
  </div>

  <div class = 'blog'>
    <a href="http://www.oandoeats.com"><h3>Food Blogger</h3></a>
  </div>
</div>

<div class = 'clear-fix'></div>

<div class = 'social-icons'>
  <a href="http://summermin.github.io"><i class="fa fa-pencil"></i></a>
  <a href="https://github.com/summermin"><i class="fa fa-github"></i></a>
  <a href="https://twitter.com/oandoeats"><i class="fa fa-twitter"></i></a>
  <a href="https://instagram.com/summsummz/"><i class="fa fa-instagram"></i></a>
  <a href="https://www.facebook.com/profile.php?id=7956578"><i class="fa fa-facebook"></i></a>
  <a href="https://www.linkedin.com/pub/summer-min/27/503/57"><i class="fa fa-linkedin-square"></i></a>
</div>